.productView {
  width: 563px;
  height: 681px;

  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;

  & .list {
    height: 100%;
    width: 97px;
    grid-area: 1 / 1 / 2 / 2;
  }

  & .current {
    width: 445px;
    height: 667px;
    border-radius: 6px;
    background-color: #4F6F9F;
    margin: 6px 0 8px 0;
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    & .img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 445px;
      height: 667px;
    }

    & .likeBtn {
      position: absolute;
      top: 21.24px;
      right: 15.6px ;
    }
    & .shareBtn {
      position: absolute;
      top: 55.79px;
      right: 17.33px ;
    }
    & .downloadBtn {
      position: absolute;
      top: 89.79px;
      right: 13px ;
    }
    & .topLeftMark {
      position: absolute;
      top: 10.95px;
      left: 11.95px;
      width: 78px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;

      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;

      text-transform: uppercase;

      color: #FFFFFF;

      background: #009872;
      border-radius: 16px;
    }
    & .bottomRightMark {
      position: absolute;
      right: 0 ;
      bottom: 14.94px;
      width: 127.43px;
      height: 38.83px;
    }
  }
}