.productName {
  //position: absolute;
  //left: 148px;
  //top: 27px;

  //font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42.46px;
  display: flex;
  align-items: center;

  color: #282828;

  margin-left: 42.92px;
}
