.button {

  display: flex;
  align-content: center;
  justify-content: center;

  background-image: url('../../../../assets/arrow-down.svg');

  width: 24px;
  height: 24px;

  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: .5;
  }

  &.inactive {
    opacity: .5;
    cursor: auto;
  }
}

